.timeTemperatureItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .timeText {
    margin-right: 16px;
    align-items: left;
    color: #f1946f;
  }
  
  .temperatureText {
    text-align: right;
    color: #f1946f;
  }
  
  .timeTemperatureItem1{
    background-color: blue;
    display: flex;
    width: 100px;
  }